/* ComingsStudent.css */

/* Styles généraux pour la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  div {
    padding: 20px;
    margin: auto;
    max-width: 1200px;
  }
  
  /* Styles pour le titre */
  h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }

  p{
    color: #333;
  }
  
  /* Styles pour la table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  thead {
    background-color: #007bff;
    color: #fff;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Styles pour le bouton */
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  