p {
    font-size: 1.2rem;
    margin: 10px 0;
}

/* Styles pour le label (Prénom, Nom, etc.) */
p strong {
    font-weight: bold;
    color: #555; /* Couleur plus sombre pour le label */
}

/* Styles pour les données de l'étudiant (Sarah, etc.) */
p .student-data {
    font-weight: normal; /* Normal ou un peu plus léger pour les données */
    color: #333; /* Une couleur différente pour le contenu */
    margin-left: 10px; /* Ajoutez de l'espace entre le label et la donnée */
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

button + button {
    margin-left: 10px;
}
